.product_contents {
  overflow-x: scroll;
  width: 100%;
  display: flex;
  align-items: start;
  gap: 44px;
  padding-bottom: 120px;
}
.product_contents::-webkit-scrollbar {
  display: none;
}
.card p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 5%;
  padding-bottom: 6px;
}
.card img {
  padding-top: 20px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.image {
  padding: 24px 9px 30px;
  background: #edf2f4;
  border-radius: 10px;
  margin-bottom: 16px;
}
.card button {
  background: #d9d9d9 !important;
  box-shadow: 0px 4px 4px 0px #00000040;
  line-height: 16.94px;
  font-size: 14px;
  padding: 6px 10px !important;
  color: black;
  font-weight: 400;
  margin-left: 12px;
  margin-top: -30px;
}
