* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  bottom: 0;
  border-radius: 20px;
  padding: 14px 36px;
  background: red;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
button:hover {
  opacity: 0.9;
}
button:active {
  transform: scale(0.95);
}
ul {
  list-style-type: none;
}
